<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>{service_name}</string>
        <key>ProgramArguments</key>
        <array>
            <string>{executable}</string>
            <string>--debug</string>
            <string>run</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>StandardOutPath</key>
        <string>{log_out_file}</string>
        <key>StandardErrorPath</key>
        <string>{log_err_file}</string>
    </dict>
</plist>
